STRIPE_PUBLISHABLE_KEY=pk_live_replace_me
STRIPE_TEST_PUBLISHABLE_KEY=pk_test_replace_me
PAYMENT_INTENT_ENDPOINT=https://europe-west1-bodybuddies-cf068.cloudfunctions.net/createPaymentIntent
PAYMENT_INTENT_TEST_ENDPOINT=https://europe-west1-bodybuddies-cf068.cloudfunctions.net/createPaymentIntentSandbox
USE_FIRESTORE_EMULATOR=false
EMAILJS_SERVICE_ID=service_replace_me
EMAILJS_USER_ID=user_replace_me
EMAILJS_ACCESS_TOKEN=token_replace_me
