STRIPE_PUBLISHABLE_KEY=pk_test_replace_me
STRIPE_SECRET_KEY=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
EMAILJS_SERVICE_ID=service_bpsye2e
EMAILJS_USER_ID=k8sIXq9w1NpPrnOGw
EMAILJS_ACCESS_TOKEN=OT3Rt5KH0KdlFroan90hJ

