STRIPE_PUBLISHABLE_KEY=pk_test_replace_me
STRIPE_TEST_PUBLISHABLE_KEY=pk_test_replace_me
PAYMENT_INTENT_ENDPOINT=http://127.0.0.1:5001/bodybuddies-cf068/europe-west1/createPaymentIntent
PAYMENT_INTENT_TEST_ENDPOINT=http://127.0.0.1:5001/bodybuddies-cf068/europe-west1/createPaymentIntentSandbox
USE_FIRESTORE_EMULATOR=true
FIRESTORE_EMULATOR_HOST=127.0.0.1
FIRESTORE_EMULATOR_PORT=8080
EMAILJS_SERVICE_ID=service_replace_me
EMAILJS_USER_ID=user_replace_me
EMAILJS_ACCESS_TOKEN=token_replace_me
