<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>app-store-connect</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>teamID</key>
	<string>LJ2Y4DXLD8</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.bodybuddies.bodybuddiesapp</key>
		<string>match AppStore com.bodybuddies.bodybuddiesapp</string>
	</dict>
	<key>manageAppVersionAndBuildNumber</key>
	<false/>
	<key>stripSwiftSymbols</key>
	<true/>
</dict>
</plist>
